@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


.altashadow {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
}

.altashadow-xl {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.8);
}

.altashadow-2xl {
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.95);
}
